/** Fonts **/
@font-face {
  font-family: 'Tajawal Regular';
  src: url('./fonts/Tajawal-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Tajawal Medium';
  src: url('./fonts/Tajawal-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Tajawal Light';
  src: url('./fonts/Tajawal-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Tajawal Extra Light';
  src: url('./fonts/Tajawal-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Tajawal ExtraBold';
  src: url('./fonts/Tajawal-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Tajawal Bold';
  src: url('./fonts/Tajawal-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Tajawal Black';
  src: url('./fonts/Tajawal-Black.ttf') format('truetype');
}
