@import 'fonts';

.breadcrumbs {
  font-family: $tajawal-regular;
  margin: 0;
  margin-bottom: 1em;
  padding: 0;

  li {
    display: inline;
    margin-right: 10px;

    a {
      color: #fff;
    }
  }
}
