@import 'fonts';

.slide-item {
  display: flex;
  flex-direction: column;
  font-family: $tajawal-regular;
  justify-content: flex-start;
  
  h3,
  h5,
  figcaption {
    margin: 0;
  };

  figcaption {
    margin-left: 1em;
  }
  
  h3 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1rem;
  }

}

@media (min-width: 1225px) {
  .slide-item {
    flex-direction: row;
  }

}
