@import 'fonts';

.coin-slider {
  background-color: #fff;
  box-shadow: 2px 4px 20px #a9a9a9;
  max-width: 100%;
  padding: 1em;
  
  h2 {
    font-family: $tajawal-regular;
    font-size: 3rem;
    margin: 0;
    padding: 0;
  }
}
