/** Fonts **/
@font-face {
	font-family: 'Tajawal Regular';
	src: url('../fonts/Tajawal-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Tajawal Regular';
	src: url('../fonts/Tajawal-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Tajawal Regular';
	src: url('../fonts/Tajawal-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Tajawal Medium';
	src: url('../fonts/Tajawal-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Tajawal Light';
	src: url('../fonts/Tajawal-Light.ttf') format('truetype');
}


@font-face {
	font-family: 'Tajawal Extra Light';
	src: url('../fonts/Tajawal-ExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Tajawal ExtraBold';
	src: url('../fonts/Tajawal-ExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Tajawal Bold';
	src: url('../fonts/Tajawal-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Tajawal Black';
	src: url('../fonts/Tajawal-Black.ttf') format('truetype');
}


$tajawal-black: 'Tajawal Black';
$tajawal-bold: 'Tajawal Bold';
$tajawal-extra-bold: 'Tajawal ExtraBold';
$tajawal-extra-light: 'Tajawal ExtraLight';
$tajawal-light: 'Tajawal Light';
$tajawal-medium: 'Tajawal Medium';
$tajawal-regular: 'Tajawal Regular';

export {
  $tajawal-black: $tajawal-black;
  $tajawal-bold: $tajawal-bold;
  $tajawal-extra-bold:  $tajawal-extra-bold;
  $tajawal-extra-light: $tajawal-extra-light;
  $tajawal-light: $tajawal-light;
  $tajawal-medium: $tajawal-medium;
  $tajawal-regular: $tajawal-regular;
}