@import 'fonts';

.collection-item,
.coin-item {
  font-family: $tajawal-medium;
  font-size: 1.3rem;
  list-style-type: none;
  margin-bottom: 1em;
  
  a {
    color: #000;
    text-decoration: none;

    &:hover {
      color: #00f;
      text-decoration: underline;
    }
  }
}
