@import 'fonts';

body {
  background: #466368 no-repeat;
  background: linear-gradient(#648880, #293f50);
  background: linear-gradient(#648880, #293f50);
  background: linear-gradient(#648880, #293f50);
  background-attachment: fixed;
  background-repeat: no-repeat;
  box-sizing: border-box;
  font-family: $tajawal-regular;
  margin: 0;
  padding: 0;
}
